/* menu */
.menu{
    display: flex;
}
.menu-item {
    width: 25%;
    /* flex-grow: 1; width 방법을 선택한 이유, 인터넷 익스플로러에서는 플렉스 그로우에 애니메이션이 안먹는다. */
    background: #BACD92;
    transition: 0.5s;
}

/* 이거 한번에 못적나... */
.menu-item:hover {
    width: 35%;
    /* flex-grow: 1.5; */
    background: #75A47F
}

.menu-link {
    /* 텍스트 이외의 영역을 클릭해도 손가락 표시 생기게 */
    display: block; 
    /* 현재 폰트 사이즈만큼 패딩을 준다 */
    padding: 1em;
    /* 루트 요소꺼 쓰겠다 */
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
}

.menu-link:hover {
    color: white;
}


/* search */
.search-form{
    display: flex;
    height: 40px;
}
.search-form input[type="search"] {
    flex: 1;
    margin-right: 10px;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
}
.search-form input[type="submit"] {
    width: 4em;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
    background-color: #BACD92;
}
