body {
  position: relative;
  margin: 0px;
}
i {
  &:hover {
    color: red;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 20px;
  border-bottom: 1px solid wheat;
  background-color: lightpink;
  position: fixed;
}

img {
  padding-top: 4rem;
  &:hover {
    animation: imgAnimation 2s infinite;
  }
}

@keyframes imgAnimation {
  25% {
    transform: scale(1.3);
    transition: all 1s;
  }
  50% {
    transform: scale(1);
    transition: all 1s;
  }
  75% {
    transform: scale(1.3);
    transition: all 1s;
  }
}
li {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid beige;
}

.item_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#base_img_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2rem; */
}

#eye_img_wrapper {
  display: flex;
}

#color_img_wrapper {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  padding-right: 50rem;
}

nav {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  position: fixed;
  top: 10rem;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
/* 실제로 글자는 a 안에 있기 때문 */
.nav_list {
  &:hover {
    background-color: #f3d0d7;
    a {
      color: white;
    }
  }
}
p {
  margin-block-end: 4px;
  margin-block-start: 4px;
}

.section_title {
  padding: 30px;
}

#all {
  display: flex;
  justify-content: column;
  gap: 4rem;
  width: 70rem;
}
#base {
  display: flex;
  justify-content: column;
  gap: 4rem;
  width: 70rem;
}
#color {
  display: flex;
  justify-content: column;
  gap: 4rem;
  width: 70rem;
}
#eye {
  display: flex;
  justify-content: column;
  gap: 4rem;
  width: 70rem;
}
.item_wrapper {
  float: left;
}

.product_img {
  width: 280px;
  height: 280px;
}
