main {
  padding-left: 0rem;
}

table {
  padding: 8rem;
  text-align: center;
}

.table_style {
  width: 60rem;
  max-height: 18rem;
  margin: 10rem;
  overflow-y: scroll;
  margin-left: 0rem;
}

table td {
  position: sticky;
  top: 0rem;
  width: 10rem;
  height: 4rem;
  background-color: wheat;
}

.cart_button {
  display: flex;
  justify-content: center;
}
